<div class="grid-container">
  <div class="header">
    <h1>My Bookings</h1>
  </div>
  <div class="middle">
    <% @bookings.each do |booking| %>
      <div class="list_item">
        <% @space = Spaces.find_by id: booking.spaces_id %>
        <p>Title: <%= @space.title %></p>
        <form action="/spaces/details" method="get">
          <input type ="hidden" name ="space_id" value=<%= @space.id %>>
          <input type="submit" value="More Details">
        </form>
        <p>Booking dates:</p>
        <p>From: <%= booking.start_date %></p>
        <p>To: <%= booking.end_date %></p>
        <p>Approval Status: <%= booking.approval_status %></p>
      </div>
    <% end %>
  </div>
</div>