<div class="grid-container">
  <div class="header">
    <h1>Spaces</h1>
  </div>
  <div class="middle">
    <h2>Welcome <%= @user_email %></h2>
    <% @spaces.each do |space| %>
      <div class="list_item">
        <p>Title: <%=space.title%></p>
        <p>Description: <%=space.description%></p>
        <p>Price per night: <%=space.price_per_night%></p>
        <form action="/spaces/details" method="get">
          <input type ="hidden" name ="space_id" value=<%= space.id %>>
          <input type="submit" value="More Details">
        </form>
        <p></p>
      </div>
    <% end %>
  </div>
  <div class="footer">
  <a href="/spaces/yours">Your Spaces</a> | <a href="/logout">Log out</a>
  </div>
</div>
